<footer id= #sticky-footer class= "bg-dark rounded-top text-center">
    <div>
        <span class ="align-middle text-white">&copy;{{developer.lastname + ', '+ developer.name}}</span>
    </div>
</footer>