<div class="my-2">
    <button class="btn btn-primary" type="button" routerLink= "/companias/form">Crear Compañia</button>
</div>
<div class= "alert alert-danger" *ngIf="!companias">
    Error al consultar los companias
</div>
<div class = "alert alert-info" *ngIf="companias?.length == 0">
    No hay companias
</div>
<div class="card border-dark mb-3" *ngIf="companias?.length > 0">
    <div class="card-header">Companias
        <button type="button" class = "btn btn-primary float-right" (click)="switchId()">{{showId ? 'Ocultar' : 'Mostrar' }} ID</button>
    </div>
    <div class="card-body text-primary">

      <table class = "table table-bordered table-striped">
          <thead>
              <tr>
                  <th *ngIf = "showId">Id</th>
                  <th>Cif</th>
                  <th>Nombre</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let compania of companias">
                  <td *ngIf = "showId">{{compania.idCompania}}</td>
                  <td>{{compania.cif}}</td>
                  <td>{{compania.nombre}}</td>
                  <td>
                      <button class="btn btn-danger" type="button" (click)="delete(compania.idCompania)">Borrar</button>
                  </td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>