<div class="card bg-light">
    <div class = "card-header">{{ title }}</div>
    <div class = "card-body">
        <form #companiaForm="ngForm">
            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">CIF</label>
                <div class="col-sm-6">
                    <input name="cif" type="text" class="form-control" [(ngModel)]="compania.cif" placeholder="cif" maxlength="255" required #cif="ngModel">
                    <div class="alert alert-danger" *ngIf="cif.invalid && cif.touched">
                        <div *ngIf="cif.errors.required">
                            Debe rellenar el cif de la compañia
                        </div>
                    </div>   
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input name="nombre" type="text" class="form-control" [(ngModel)]="compania.nombre" placeholder="Nombre" maxlength="255" required #nombre="ngModel">
                    <div class="alert alert-danger" *ngIf="nombre.invalid && nombre.touched">
                        <div *ngIf="nombre.errors.required">
                            Debe rellenar el nombre de la compañia
                        </div>
                    </div>   
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" type="button" (click)="create()" *ngIf="!compania.idCompania">Crear</button>
                    <button class="btn btn-secondary" type="button" routerLink="/companias">Cancelar</button>
                </div>
            </div>
            
        </form>
    </div>
</div>


