<div class="card bg-light">
    <div class = "card-header">{{ title }}</div>
    <div class = "card-body">
        <form #juegoForm="ngForm">
            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Titulo</label>
                <div class="col-sm-6">
                    <input name="titulo" type="text" class="form-control" [(ngModel)]="juego.titulo" placeholder="Título" maxlength="255" required #titulo="ngModel">
                    <div class="alert alert-danger" *ngIf="titulo.invalid && titulo.touched">
                        <div *ngIf="titulo.errors.required">
                            Debe rellenar el titulo del Juego
                        </div>
                    </div>   
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Fecha Lanzamiento</label>
                <div class="col-sm-6">
                    <input name="fecha" type="text" class="form-control" [(ngModel)]="juego.fechaLanzamiento" placeholder="yyyy-MM-dd" pattern="dd-MM-yyyy" #fecha="ngModel">
                    <div class="alert alert-danger" *ngIf="fecha.touched">
                        <div *ngIf="fecha.errors.required">
                            Debe rellenar el fecha del Juego
                        </div>
                    </div> 
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Pegi</label>
                <div class="col-sm-6">
                    <input name="pegi" type="number" min="1" max="18" pattern="[0-9]" class="form-control" [(ngModel)]="juego.pegi" placeholder="3" required #pegi="ngModel">
                    <div class="alert alert-danger" *ngIf="pegi.invalid && pegi.touched">
                        <div *ngIf="pegi.errors.required">
                            Debe rellenar PEGI del Juego
                        </div>
                        <div *ngIf="pegi.errors.max">
                            PEGI no debe superar 18
                        </div>
                    </div> 
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Categoria</label>
                <div class="col-sm-6">
                    <select name="categoria" type="text" class="form-control" [(ngModel)]="juego.categoria" maxlength="255" required #categoria="ngModel">
                        <option *ngFor="let categoriaOption of categorias" [ngValue]="categoriaOption.value">{{ categoriaOption.title }}</option>
                    </select>

                    <div class="alert alert-danger" *ngIf="categoria.invalid && categoria.touched">
                        <div *ngIf="categoria.errors.required">
                            Debe rellenar el categoria del Juego
                        </div>
                    </div> 
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" type="button" (click)="create()" *ngIf="!juego.idJuego" >Crear</button>
                    <button class="btn btn-primary" type="button" (click)="update()" *ngIf="juego.idJuego" [disabled]="!juegoForm.form.valid">Editar</button>
                    <button class="btn btn-secondary" type="button" routerLink="/juegos">Cancelar</button>
                </div>
            </div>
            
        </form>
    </div>
</div>


