
<div class="my-2">
    <button class="btn btn-primary" type="button" routerLink= "/juegos/form">Crear Juego</button>
</div>
<div class= "alert alert-danger" *ngIf="!juegos">
    Error al consultar los juegos
</div>
<div class = "alert alert-info" *ngIf="juegos?.length == 0">
    No hay juegos
</div>
<div class="card border-dark mb-3" *ngIf="juegos?.length > 0">
    <div class="card-header">Juegos
        <button type="button" class = "btn btn-primary float-right" (click)="switchId()">{{showId ? 'Ocultar' : 'Mostrar' }} ID</button>
    </div>
    <div class="card-body text-primary">

      <table class = "table table-bordered table-striped">
          <thead>
              <tr>
                  <th *ngIf = "showId">Id</th>
                  <th>Titulo</th>
                  <th>Fecha de Lanzamiento</th>
                  <th>Categoria</th>
                  <th>Pegi</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let juego of juegos">
                  <td *ngIf = "showId">{{juego.idJuego}}</td>
                  <td>{{juego.titulo}}</td>
                  <td>{{juego.fechaLanzamiento | date : 'dd/MMM/yyyy'}}</td>
                  <td>{{juego.categoria}}</td>
                  <td>{{'+' + juego.pegi}}</td>
                  <td>
                      <button class="btn btn-primary" type="button" routerLink="/juegos/form/{{juego.idJuego}}">Editar</button>
                      <button class="btn btn-danger" type="button" (click)="delete(juego.idJuego)">Borrar</button>
                  </td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>