<div class="card border-primary mb-3">
    <div class="card-header">Clientes
        <button type="button" class = "btn btn-primary float-right" (click)="switchId()">{{showId ? 'Ocultar' : 'Mostrar' }} ID</button>
    </div>
    <div class="card-body text-primary">

      <table class = "table table-bordered table-striped">
          <thead>
              <tr>
                  <th>Id</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Email</th>
                  <th>Fecha</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let cliente of clientes">
                  <td>{{cliente.idCliente}}</td>
                  <td>{{cliente.nombre}}</td>
                  <td>{{cliente.apellido}}</td>
                  <td>{{cliente.email}}</td>
                  <td>{{cliente.createAt | date: 'dd/MMM/yyyy'}}</td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
